StairDashINSPIRE2019/StairDash/Connected Services/StairDataServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceTeamObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceTeamObj" nillable="true" type="tns:ServiceTeamObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceTeamObj" nillable="true" type="tns:ArrayOfServiceTeamObj" />
  <xs:complexType name="ServiceTeamObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceTeamObj" nillable="true" type="tns:ServiceTeamObj" />
</xs:schema>